<form action="/articles" method="POST">
  <label for="title">Article Title: </label>
  <p><input type="text" name="title" id="title"></p>
  <label for="content">Article Content: </label>
  <p><textarea name="content" id="content"></textarea></p>
  <input type="submit">
</form>